<div class="body">
  <div class="container">
    <h3>Saved Cities</h3>
    <div class="row">
      <div *ngIf="loading" class="loading-indicator">
        <i class="fa fa-spinner fa-spin"></i> Loading...
      </div>
      <div class="col-md-4" *ngFor="let weather of savedWeatherData">
        <div class="weather-box my-4">
          <div class="weather-details">
            <img *ngIf="weather.iconUrl" [src]="weather.iconUrl" alt="Weather Icon" class="weather-icon">
            <div class="temperature">{{ weather.temperature }}°{{ isCelsius ? 'C' : 'F' }}</div>
          </div>
          <h4 class="location-name">{{ weather.location }}</h4>
          <p>{{ weather.local_time | date:'EEE d MMM yyyy h:mm a' }}</p>
          <div class="row">
            <div class="col-md-6">
              <div class="box">
                <p>Humidity {{ weather.humidity }}%</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <p>Wind Speed {{ weather.wind_speed }} m/s</p>
              </div>
            </div>
          </div>
          <div class="temp-range">
            Low: {{ weather.low_temperature }}°{{ isCelsius ? 'C' : 'F' }} / High: {{ weather.high_temperature }}°{{ isCelsius ? 'C' : 'F' }}
          </div>
          <div class="description-section">
            <hr class="description-line">
            <p class="weather-description">{{ weather.description }}</p>
          </div>
          <!-- Delete button -->
          <button (click)="deleteWeather(weather.id)" class="btn-delete">Delete</button>
        </div>
      </div>
    </div>
    <!-- Pagination controls -->
    <div class="pagination-controls text-center">
      <button (click)="previousPage()" [disabled]="loading" class="btn btn-primary">Previous</button>
      <ng-container *ngFor="let p of [].constructor(getTotalPages()); let i = index">
        <button (click)="goToPage(i + 1)" [class.active]="i + 1 === page" [disabled]="loading" class="btn btn-secondary">{{ i + 1 }}</button>
      </ng-container>
      <button (click)="nextPage()" [disabled]="loading" class="btn btn-primary">Next</button>
    </div>

    <ng-template #noData>
      <p>No saved locations found.</p>
    </ng-template>
  </div>
</div>